<div class="container-fluid">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="col-xs-1">
            <a href="#!/" class="navbar-brand ho-left"> <span class="glyphicon glyphicon-chevron-left"></span>
            </a></div>
        <div class="col-xs-5 msk-navbar-header zero-padding">
                <a class="navbar-brand" href="#!/">
                 <div>Skill Connect</div>
                </a>
            </div>
            
    </nav>

    <div class="ho-main-body">
        <div class="col-sm-2 col-xs-1">
        </div>
        
            <h2>Hello Admin</h2>
           
            

 
            <div class="ho-buttons-margin">
                <a class="btn btn-danger  btn-block"  href="#/studentreg">Create Student</a>
            	 <a class="btn btn-danger  btn-block"  href="#/professorreg">Create Professor</a>
            	  <a class="btn btn-danger  btn-block"  href="#/recruiterreg">Create Recruiter</a>
            </div>
            
           
            

        </div>
        <div class="col-sm-2 col-xs-1">
        </div>
    </div>

</div>