<div class="container-fluid">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="col-xs-1">
            <a href="#!/" class="navbar-brand ho-left"> <span class="glyphicon glyphicon-chevron-left"></span>
            </a></div>
        <div class="col-xs-5 msk-navbar-header zero-padding">
                <a class="navbar-brand" href="#!/">
                 <div class="hungry-owl-text ho-navbar-text">Skill Connect</div>
                
            </div>
            
    </nav>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
   <div class="ho-main-body">
        <div class="col-sm-2 col-xs-3">
        </div>
        <div ng-show="model.currentUser.userType" class="col-sm-8 col-xs-10 font-18">
            You are already Logged In<br>
            Please click <a href="#!/enduser" class="join-btn">
            <span class="glyphicon glyphicon-dashboard"></span>
            Here</a> to navigate to your dashboard.
        </div>
        <div ng-show="model.currentUser.userType==undefined" class="col-sm-8 col-xs-10">
            
           
            <div>
         <br>
        
         </div>
         
          
          <div class="ho-buttons-margin">
                <a class="btn btn-danger "  href="#/plogin">Professor Login</a>
            	 
           </div>
           <br>
            <div class="ho-buttons-margin">
                <a class="btn btn-danger"  href="#/rlogin">Recruiter Login</a>
            	 
           </div>
         <br>
         <div class="ho-buttons-margin">
                <a class="btn btn-danger"   href="#/slogin">Student Login</a>
            	 
           </div>
          
           <br>
        
         <div class="ho-buttons-margin">
                <a class="btn btn-danger"   href="#/alogin">Admin Login</a>
            	 
    	 </div>
   </div>      