<div class="container-fluid">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="col-xs-1">
            <a href="#!/" class="navbar-brand ho-left"> <span class="glyphicon glyphicon-chevron-left"></span>
            </a></div>
        <div class="col-xs-5 msk-navbar-header zero-padding">
                <a class="navbar-brand" href="#!/">
                 <div class="hungry-owl-text ho-navbar-text">Skill Connect</div>
                </a>
            </div>
            
    </nav>
    
<br>
<br>
<br>
<br>
<br>
    

   <div class="ho-main-body">
        <div class="col-sm-2 col-xs-1">
        </div>
        
        <div ng-show="model.currentUser.userType==undefined" class="col-sm-8 col-xs-10">
          
           
            <div>
         <br>
        
         </div>
         <h2>Recruiter Login</h2>
          <label for ="un">Username</label>
            <input ng-model="user.username"
                   type="text"
                   id="username"
                   class="form-control"
                   placeholder="UserName"/>
                   
              <label for ="password">Password</label>
            <input ng-model="user.password"
                   type="password"
                   id="password"
                   class="form-control"
                   placeholder="Password"/> 
         
         <br>
         <div class="ho-buttons-margin">
                <a class="btn btn-danger  btn-block" ng-click="model.rlogin(user.username , user.password)">Login</a>
            	 
           </div>
         
   </div>      