<div class="container-fluid">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="col-xs-1">
            <a href="#!/" class="navbar-brand ho-left"> <span class="glyphicon glyphicon-chevron-left"></span>
            </a></div>
        <div class="col-xs-5 msk-navbar-header zero-padding">
                <a class="navbar-brand" href="#!/">
                 <div class="hungry-owl-text ho-navbar-text">Skill Connect</div>
                </a>
            </div>
            
    </nav>

   <div class="ho-main-body">
        
            <h2>Skill Connect</h2>
           
            <div>
         <br>
         
         </div>
           
           
           
           <h2> Student Registration </h2> 
            <label for ="firstName">First Name</label>
            <input ng-model="user.firstName"
                   type="text"
                   id="firstName"
                   class="form-control"
                   placeholder="firstName"/>
            <label for ="lastName">Last Name</label>
            <input ng-model="user.lastName"
                   type="text"
                   id="lastName"
                   class="form-control"
                   placeholder="lastName"/>
            <label for ="email">E-mail</label>
            <input ng-model="user.email"
                   type="text"
                   id="email"
                   class="form-control"
                   placeholder="email@mail.com"/>

            <label for ="username">Username</label>
            <input ng-model="user.username"
                   type="text"
                   id="username"
                   class="form-control"
                   placeholder="username"/>

            <label for ="password">Password</label>
            <input ng-model="user.password"
                   type="password"
                   id="password"
                   class="form-control"
                   placeholder="password"/>

            <label for ="age">Age</label>
            <input ng-model="user.age"
                   type="text"
                   id="age"
                   class="form-control"
                   placeholder="Age"/>
 			
 			 <label for ="gender">Gender</label>
            <input ng-model="user.gender"
                   type="text"
                   id="age"
                   class="form-control"
                   placeholder="Gender"/>
                   
            <label for ="address">Address</label>
            <input ng-model="user.address"
                   type="text"
                   id="address"
                   class="form-control"
                   placeholder="Address"/>
             
            <label for ="city">City</label>
            <input ng-model="user.city"
                   type="text"
                   id="city"
                   class="form-control"
                   placeholder="City"/>
 
 			<label for ="state">State</label>
            <input ng-model="user.state"
                   type="text"
                   id="state"
                   class="form-control"
                   placeholder="State"/>
 
 			<label for ="highesdegree">Highest Degree</label>
            <input ng-model="user.highestdegree"
                   type="text"
                   id="highestdegree"
                   class="form-control"
                   placeholder="Highest Degree"/>
              
              <label for ="major">Major</label>
            <input ng-model="user.major"
                   type="text"
                   id="major"
                   class="form-control"
                   placeholder="Major"/>
                   
              <label for ="uniname">University Name</label>
            <input ng-model="user.universityname"
                   type="text"
                   id="universityname"
                   class="form-control"
                   placeholder="University Name"/>
                   
                
                 <label for ="dec1">Speciality in skill 1</label>
            <input ng-model="user.desc1"
                   type="text"
                   id="universityname"
                   class="form-control"
                   placeholder="Skill 1"/>
                   
                 <label for ="dec2">Speciality in skill 2</label>
            <input ng-model="user.desc2"
                   type="text"
                   id="universityname"
                   class="form-control"
                   placeholder="Skill 2"/>
                    
                     <label for ="linkedinurl">Linkedin URL for recruiter</label>
            <input ng-model="user.linkedinurl"
                   type="text"
                   id="universityname"
                   class="form-control"
                   placeholder="Linkedin URL"/>
            <div>
            <p> DOWN TO REGISTER <p>
            </div>
            
            <div class="ho-buttons-margin">
            
                <a class="btn btn-danger  btn-block" ng-click="model.register(user,'stu')" href="#/login">Student Register</a>
            	 
           </div>
            
            
            <a href="#/login" class="join-btn">Login</a> here.

        </div>
        <div class="col-sm-2 col-xs-1">
        </div>
    </div>

</div>