

<div>

<a class="btn btn-danger  btn-block" href="#/admincreateuser" >Create Users</a>
<a class="btn btn-danger  btn-block" href="#/admin" >Get Users(Update & Delete)</a>

<a class="btn btn-danger  btn-block" href="#/admincreatebook" >Create Books</a>
<a class="btn btn-danger  btn-block" href="#/bookslistforadmin" >Get Books(Update & Delete)</a>

<a class="btn btn-danger  btn-block" href="#/admincreatecourse" >Create Course</a>
<a class="btn btn-danger  btn-block" href="#/courselistforadmin" >Get Course(Update & Delete)</a>

</div>
